@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$primary-color: #cc2faf59;
$secondary-color: #f4f4f4;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 20px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 30vmin;
  height: auto;
  margin-bottom: 20px;
}

.container {
  background-color: $secondary-color;
  border-radius: 10px;
  box-shadow: $box-shadow;
  padding: 50px 20px;
  text-align: center;
  max-width: 100%;
  width: 800px;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 2.5vw;
}

h3 {
  margin: 0;
  opacity: 0.5;
  letter-spacing: 2px;
}