@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$dark-grey: #333333;
$light-grey: #414141;
$search-white: #EFEFEF;
$primary-color: #edb6e3;
$secondary-color: #B6C7ED;
$tertiary-color: #B6EDC0;
$highlight-color: #EDDCB6;
$font-inter: 'Inter', sans-serif;
$linear-gradient: linear-gradient(270deg, #577CF1 -20.19%, #9561D4 50.46%, #EE3AAA 115.26%);
// $box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);


body {
  overflow: hidden;
  background: $dark-grey;
  margin: 0;
}
#welcome-content-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  #welcome-logo {
    width: 40vw;
    max-width: 400px;
  }
  #welcome-back-text {
    text-align: center;
    font-family: $font-inter;
    font-size: 30px;
    color: $search-white;
  }
  #welcome-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-justify: center;
    text-align: center;
    font-family: $font-inter;
    font-size: 30px;
    color: $search-white;
    height: 5vh;
    width: 10vh;
    padding: 16px;
    background: linear-gradient(271.32deg, #577CF1 10.86%, #8966DA 48.35%, #EE3AAA 81.86%, #EE3AAA 95.25%);
    border-radius: 8px;
    border-radius: 8px;
  }

}
.center {
  display: flex; /* establish flex container */
    flex-direction: column; /* make main-axis vertical */
    justify-content: center; /* align items vertically, in this case */
    align-items: center; /* align items horizontally, in this case */
  width: 100vw;
  height: 100vh;
}
.login-modal {
  display: flex;
  flex-direction: column;
  background:$light-grey;
  height: 38vh;
  width: 38vh;
  align-items: center;
  // padding: 32px;
  // gap: 16px;
  .modal-header {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    width: 100%;
   
    #modal-logo {
      grid-column: 2 / 6;
      width: 15vw;
      max-width: 250px;
      margin: 0 auto;
    }

    .material-symbols-outlined {
      margin: 17px 17px 0 0;
      font-size: 4vmin !important;
      grid-column: 6;
      color: #FFFFFF !important;
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
    }
  }

  #tt-username__content-box {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3vh;
    padding-left: 20px;
    padding-right: 20px;

    #tt-username-description {
      font-family: $font-inter;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
  
      /* White */
  
      color: #FFFFFF;
    }

    #tt-username-input {
      background-color: #FFFFFF00;
      border: solid 1px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-color: $search-white;
      color: $search-white;
    }
    #tt-username-input::placeholder
    r {
      font-weight: bold;
      opacity: .5;
      color: $search-white;
    }
    #tt-username-input:focus {
      outline-width: 0;
    }

    #tt-username__button {
      padding: 16px 8px;
      background: $linear-gradient;
      border-radius: 8px;
      color: $search-white;
      font-family: $font-inter;
    }
   
  }
  
  #text-box-username {
    color: $search-white;
    font-family: $font-inter;
    font-weight: 400;
    text-align: center;
  }

}


//Homepage
#homepage {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;

  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 6.1vh 3.5vh 1fr;
}

//Homepage__Header
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0px 6vw 0px 6vw;
  border-bottom: 1px solid $search-white;
}    

#search-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  background: $search-white;
  border-radius: 1.5vmax;
  flex-basis: 45%;
  height: 3.6vh;
  
  input {
    border: hidden;
    margin-left: 10px;
    background: #EFEFEF;
    flex-basis: 45%;
    height: 2vh;
    justify-self: center;
    font-size: 2vmin;
  }
  input:focus {
    outline-width: 0;
  }
}

#header-logo {
  display: block;
  height: 3.6vh; 
  width: auto;
}

.material-symbols-outlined {
  font-size: 2vmin !important;
  color: $light-grey !important;
  margin-top: .5vh;
  margin-left: 1vw;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#homepage-header-button {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 1.6vh;
  padding: 16px;
  background: linear-gradient(271.32deg, #577CF1 10.86%, #8966DA 48.35%, #EE3AAA 81.86%, #EE3AAA 95.25%);
  border-radius: 8px;
  border-radius: 8px;

  .material-symbols-outlined {
    display: flex;
    color:white !important;
    margin-top: .1px;
    margin-left: 1vw;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  
/* identical to box height */
input {
  background: #FFFFFF00;
  border: none;
  font-family: $font-inter;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #EFEFEF;
 }


/* Light Gray */


}


//Homepage__HashtagBanner
#hashtag-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top: 30px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.hashtag-button-border-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(270deg, #577CF1 -20.19%, #9561D4 50.46%, #EE3AAA 115.26%);
  border-radius: 100px;
  position: relative;
  margin: 0px 10px 0px 10px;
  padding: 2px 2px 2px 2px;

}

.hashtag-button {
  overflow: hidden;
  background: #F4F4F4;

  border-radius: 100px;
  
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;;

  padding: .4vh .7vw .4vh .7vw;
  gap: 8px;           
  
  height: 2vh;
  min-height: 28px;
}
.hashtag-button-text {
  font-family: $font-inter;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  justify-self: center;

  background: linear-gradient(270deg, #577CF1 -20.19%, #9561D4 50.46%, #EE3AAA 115.26%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.body {
  display: grid;
  grid-template-columns: 1fr; //3fr 1fr;
  overflow: hidden;
  justify-content: center;
}

#feed {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  margin-top: 25px;
  gap: 32px;
}

.sidebar {
  justify-self: center;
}

.video-wrapper {
  overflow: hidden;
  width: 575px;
  height: 1010px;

  video {
    
  }
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  gap: 32px;
  width: 60vw;
  min-width: 700px;
  border-radius: 8px;
  z-index: 10;
  border: solid;
  border-color: $search-white;
  .video-hashtag-banner {
  }
}